In [2]:
from src.structools.tools.date_tools import DateModel
from src.structools.tools.market import load_stocks_data
from dateutil.relativedelta import relativedelta
 
import numpy as np
import pandas as pd

In [15]:
df_data = load_stocks_data(["AAPL"], DateModel(date="2000-01-01"), DateModel(date="2010-01-01"))
df_data2 = load_stocks_data(["AAPL"], DateModel(date="2000-01-01"), DateModel(date="2017-01-01"))
df_data3 = load_stocks_data(["AAPL"], DateModel(date="2014-01-01"), DateModel(date="2017-01-01"))

print("Data 1:", len(df_data.index))
print("Data 2:", len(df_data2.index))
print("Data 3:", len(df_data3.index))

df_data

Data 1: 2515
Data 2: 4277
Data 3: 756

,Open,High,Low,Close,Adj Close,Volume,ticker
2000-01-03,0.936384,1.004464,0.907924,0.999442,0.843077,535796800,AAPL
2000-01-04,0.966518,0.987723,0.903460,0.915179,0.771997,512377600,AAPL
2000-01-05,0.926339,0.987165,0.919643,0.928571,0.783294,778321600,AAPL
2000-01-06,0.947545,0.955357,0.848214,0.848214,0.715508,767972800,AAPL
2000-01-07,0.861607,0.901786,0.852679,0.888393,0.749401,460734400,AAPL
...,...,...,...,...,...,...,...
2009-12-24,7.269643,7.476786,7.262500,7.465714,6.297681,500889200,AAPL
2009-12-28,7.561429,7.641071,7.486071,7.557500,6.375110,644565600,AAPL
2009-12-29,7.593929,7.597143,7.454643,7.467857,6.299491,445205600,AAPL
2009-12-30,7.458214,7.571429,7.439643,7.558571,6.376010,412084400,AAPL
2009-12-31,7.611786,7.619643,7.520000,7.526071,6.348597,352410800,AAPL

In [16]:
weights = np.array([0.5, 0.5])
df_data.drop(columns=["ticker"], inplace=True)
arr = df_data[["Close", "Open"]].pct_change()
# arr = df_data.columns.to_numpy()[np.argsort(df_data.to_numpy())]
arr = df_data.to_numpy()
arr = np.sort(arr)
arr

array([[8.43076587e-01, 9.07923996e-01, 9.36384022e-01, 9.99441981e-01,
        1.00446403e+00, 5.35796800e+08],
       [7.71996677e-01, 9.03460026e-01, 9.15179014e-01, 9.66517985e-01,
        9.87722993e-01, 5.12377600e+08],
       [7.83293545e-01, 9.19642985e-01, 9.26338971e-01, 9.28570986e-01,
        9.87164974e-01, 7.78321600e+08],
       ...,
       [6.29949093e+00, 7.45464277e+00, 7.46785688e+00, 7.59392881e+00,
        7.59714317e+00, 4.45205600e+08],
       [6.37600994e+00, 7.43964291e+00, 7.45821381e+00, 7.55857086e+00,
        7.57142878e+00, 4.12084400e+08],
       [6.34859657e+00, 7.51999998e+00, 7.52607107e+00, 7.61178589e+00,
        7.61964321e+00, 3.52410800e+08]])

In [ ]:
df_data[df_data.index[-10] < df_data.index < df_data.index[-6]]

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [8]:
df_data

,Open,High,Low,Close,Adj Close,Volume,ticker
2000-01-03,0.936384,1.004464,0.907924,0.999442,0.843077,535796800,AAPL
2000-01-04,0.966518,0.987723,0.903460,0.915179,0.771997,512377600,AAPL
2000-01-05,0.926339,0.987165,0.919643,0.928571,0.783294,778321600,AAPL
2000-01-06,0.947545,0.955357,0.848214,0.848214,0.715508,767972800,AAPL
2000-01-07,0.861607,0.901786,0.852679,0.888393,0.749401,460734400,AAPL
...,...,...,...,...,...,...,...
2009-12-24,7.269643,7.476786,7.262500,7.465714,6.297681,500889200,AAPL
2009-12-28,7.561429,7.641071,7.486071,7.557500,6.375110,644565600,AAPL
2009-12-29,7.593929,7.597143,7.454643,7.467857,6.299491,445205600,AAPL
2009-12-30,7.458214,7.571429,7.439643,7.558571,6.376010,412084400,AAPL
2009-12-31,7.611786,7.619643,7.520000,7.526071,6.348597,352410800,AAPL