In [32]:
from src.structools.tools.date_tools import DateModel
from src.structools.tools.market import load_stocks_data
from dateutil.relativedelta import relativedelta
 
import numpy as np
import pandas as pd

In [49]:
df_data = load_stocks_data(["AAPL"], DateModel(date="2000-01-01"), DateModel(date="2010-01-01"))
df_data2 = load_stocks_data(["AAPL"], DateModel(date="2000-01-01"), DateModel(date="2017-01-01"))
df_data3 = load_stocks_data(["AAPL"], DateModel(date="2014-01-01"), DateModel(date="2017-01-01"))

print("Data 1:", len(df_data.index))
print("Data 2:", len(df_data2.index))
print("Data 3:", len(df_data3.index))

df_data

Data 1: 2515
Data 2: 4277
Data 3: 756

                Open      High       Low     Close  Adj Close     Volume ticker
2000-01-03  0.936384  1.004464  0.907924  0.999442   0.843077  535796800   AAPL
2000-01-04  0.966518  0.987723  0.903460  0.915179   0.771997  512377600   AAPL
2000-01-05  0.926339  0.987165  0.919643  0.928571   0.783293  778321600   AAPL
2000-01-06  0.947545  0.955357  0.848214  0.848214   0.715509  767972800   AAPL
2000-01-07  0.861607  0.901786  0.852679  0.888393   0.749401  460734400   AAPL
...              ...       ...       ...       ...        ...        ...    ...
2009-12-24  7.269643  7.476786  7.262500  7.465714   6.297680  500889200   AAPL
2009-12-28  7.561429  7.641071  7.486071  7.557500   6.375109  644565600   AAPL
2009-12-29  7.593929  7.597143  7.454643  7.467857   6.299489  445205600   AAPL
2009-12-30  7.458214  7.571429  7.439643  7.558571   6.376011  412084400   AAPL
2009-12-31  7.611786  7.619643  7.520000  7.526071   6.348594  352410800   AAPL

[2515 rows x 7 columns]

In [ ]:
weights = np.array([0.5, 0.5])
df_data.drop([""])
arr = df_data[["Close", "Open"]].pct_change()
# arr = df_data.columns.to_numpy()[np.argsort(df_data.to_numpy())]
arr = df_data.to_numpy()
arr = np.sort(arr, axis=1)
arr

TypeError: '<' not supported between instances of 'str' and 'int'

In [34]:
last_date = df_data3.index[-1] - relativedelta(years=1)
last_date

Timestamp('2015-12-30 00:00:00')

In [35]:
df_data3.index

DatetimeIndex(['2014-01-02', '2014-01-03', '2014-01-06', '2014-01-07',
               '2014-01-08', '2014-01-09', '2014-01-10', '2014-01-13',
               '2014-01-14', '2014-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', length=756, freq=None)